html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #000;
  height: 100%;
  margin: 0;
  padding: 0;
}

#photo {
  min-height: 100%;
  background: #000 no-repeat center center fixed;
  background-size: cover;
}

#follow {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  margin: 0;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
